<% provide(:title, @candidate.nickname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="candidate_info">
      <h1>
        <%= @candidate.nickname %>
      </h1>
      <% if current_user.admin? %>
				<%= link_to "update", edit_candidate_path(@candidate) %>
				| <%= link_to "delete", @candidate, method: :delete,
																	data: { confirm: "Are you sure?" } %>
			<% end %>
			<h2>Résumé</h2>
			<% if current_user.admin? && !@candidate.resume_pdf.blank? %>
	      <p><%= link_to "Open original PDF", @candidate.resume_pdf.url, target: "_blank" %></p>
      <% end %>
			<% if !@candidate.resume_raw.blank? %>
				<div class="resume"><%= @candidate.resume_raw.html_safe %></div>				
      <% else %>
      	<p>No résumé available for this candidate yet.</p>
      <% end %>
			<h2>Applications</h2>
			<% if !@candidate.applications.blank? %>
				<% @candidate.applications.each do |application| %>
					<p><%= link_to application.position.title, application.position %></p>
					<p><strong>Status: </strong><%= application.status %></p>
				<% end %>
			<% else %>
				<p>This candidate has no applications.</p>
			<% end %>
    </section>
  </aside>
</div>